body {font-family: 'Lato', sans-serif;}
.no-padding {
    padding:0px !important;
}
.content-box .col-xs-1, .content-box .col-sm-1, .content-box .col-md-1, .content-box .col-lg-1, .content-box .col-xs-2, .content-box .col-sm-2,
.content-box .col-md-2, .content-box .col-lg-2, .content-box .col-xs-3, .content-box .col-sm-3, .content-box .col-md-3, .content-box .col-lg-3, .content-box .col-xs-4, 
.content-box .col-sm-4, .content-box .col-md-4, .content-box .col-lg-4, .content-box .col-xs-5, .content-box .col-sm-5, .content-box .col-md-5, .content-box .col-lg-5,
.content-box .col-xs-6, .content-box .col-sm-6, .content-box .col-md-6, .content-box .col-lg-6, .content-box .col-xs-7, .content-box .col-sm-7, .content-box .col-md-7, 
.content-box .col-lg-7, .content-box .col-xs-8, .content-box .col-sm-8, .content-box .col-md-8, .content-box .col-lg-8, .content-box .col-xs-9, .content-box .col-sm-9, 
.content-box .col-md-9, .content-box .col-lg-9, .content-box .col-xs-10, .content-box .col-sm-10, .content-box .col-md-10, .content-box .col-lg-10, .content-box .col-xs-11,
 .content-box .col-sm-11, .content-box .col-md-11, .content-box .col-lg-11, .content-box .col-xs-12, .content-box .col-sm-12, .content-box .col-md-12, .content-box .col-lg-12
 { padding-right: 6px; padding-left: 6px;}
.content-box .container {
    padding-right: 6px;
    padding-left: 6px;
 

}
.content-box .row {
    margin-right: -6px;
    margin-left: -6px;
}

.navbar-brand {
    height: auto;
    padding: 6px 0px 4px 25px;
}
.navbar-inverse { background-color:#fff; border:none; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);}
.navbar-inverse .navbar-nav > li > a{ display:inherit; text-transform:uppercase; font-size:16px; color: #149f4f;}
.s-f a { font-size:14px !important; font-weight:300; color: #9d9d9d !important;}
.post-free {background-color:#ec1e27;}
.post-free:hover { background-color:#149f4f; }
.post-free a { color:#fff !important; padding-top: 10px !important; padding-bottom: 10px !important;}
.navbar-right { margin-top: 10px; margin-right: 10px;}
.banner { background: url(../images/banner-pics.png) no-repeat; margin-top: 70px;  max-height: 844px; }
.banner h1, .banner h4 { text-transform:uppercase; text-align:center; color:#fff;}
.banner h1 { font-size:50px; font-weight:700;}
.banner h4 { font-size:18px; font-weight:400; }
.main-search { padding: 59px 0px 60px 0px; }
.main-search label { color:#fff;}

/*search tabs*/
.nav-tabs { border-bottom: none; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; font-size:18px; }
    .nav-tabs > li > a { border: none; color: #fff; font-size:18px; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #fff !important; background: transparent; font-size:18px; }
        .nav-tabs > li > a::after { content: ""; background: #ec1e27; height: 4px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:0px}

.card {    margin-bottom: 30px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus { background-color: inherit; }
.first-tab { padding-left:0px !important;}

/*search tabs end*/

.main-search input { border-radius: 0px !important; height: 47px;}
.main-search .btn-primary { background-color: #ec1e27; border:none;}
.banner-catogery { background: url(../images/banner-bg.png); }

#responsiveTabsDemo h5 { font-size:16px; color:#fff !important; font-weight:400;}
#responsiveTabsDemo h5 small { color:#f85f66; font-size:16px; font-weight:300;}
.banner-profile { background:#4a3f2c; color:#fff; padding: 21px 0px;}
.banner-profile h3 { font-size:18px; font-weight:700; padding:0px;	margin:0px; text-align:right; }
.banner-profile h3 small { font-size:18px; font-weight:300; color:#fff; }
.up-profile { background:#149f4f; color:#fff; font-size:18px; text-transform:uppercase; font-weight:300; padding: 7px 22px;}
.up-profile:hover { color:#fff; text-decoration:none;}
.featured-employers { padding:60px 0px;}
.featured-employers h2 { text-align:center; text-transform:uppercase; font-size:24px; font-weight:400;}
.slider {
  width: 400px;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
  color: white;
}
.slider .parent-slide {
  padding: 15px;
}
.slider img {
  display: block;
  margin: auto;
}
.howto-work { background:#f8f7f7; padding: 25px;}
.howto-work h2, .jobs-week h2 { text-align:center; text-transform:uppercase; font-size:24px; font-weight:400; color:#010101;}
.howto-work p { text-align:center; font-size:14px; text-transform: uppercase;}
.howitworks .common-box {
 
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    margin: 0 0 10px;
    text-align: center;
    padding: 15px 0 20px;
}
.common-box .works-step {
	text-align:center;
    display: block;
    margin: 0 auto 20px;
}
.works-step {padding: 20px 0px; } 
.common-box .works-step img { display:inline;}
.jobs-week { background:url(../images/baground-1.png); padding:50px  0px;}
.jobs-week h2 { text-align:left; margin-bottom:24px;}
.jobs-week small { color:red; font-size:24px;}
.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
.marge { padding:0px; margin:0px;}
.job-list h2 { font-size:18px; text-transform: capitalize; margin-bottom:3px;}
.job-list h5 { color:#000; font-size:15px; margin-bottom:3px; margin-top:0px;}
.job-list p { color:#625d5e; border-bottom:none;}
.comp-logo { background:#f3f5f6;}
.well-sm .fa-external-link {color:#625d5e }
.well-sm { background:#ffffff; border-radius:0px; margin-bottom:30px;}
.well-sm:hover { box-shadow:3px 3px 3px #e5e5e5; border:solid 1px #fff; cursor:pointer;}
.bg-date { background:#efefef; padding: 7px 10px; font-size:11px; font-weight:300;}
.comp-logo { margin-right:5px;}
.click-more { padding:15px 40px; background:#149f4f; font-size:18px; font-weight:400; text-transform:uppercase; color:#fff; margin:0px auto; min-width: 100px; display: block; max-width: 270px; text-align:center;}
.click-more:hover{ color:#fff; text-decoration:none;}
.featured-jobs .comp-logo { background:none; text-align:center;     padding: 21px;}
.featured-jobs .comp-logo img { display:inline; }
.featured-jobs h2 { text-align:center; font-size:22px; font-weight:400; text-transform:uppercase; color:#555555;}
.featured-jobs h5, .featured-jobs p { text-align:center;  margin-bottom:20px; color:#555555; }
.featured-jobs p { margin-bottom:20px; font-size:13px; }
.featured-jobs .well-sm { padding: 20px 20px;}
.featured-jobs .bg-date { background:inherit; font-size:13px;}
.featured-jobs .bg-date { color:#969595;}
.news-events { padding:59px 0px;}
.news-events h2 { font-size:24px; text-transform:uppercase; font-weight:400; margin-top:0px; margin-bottom:40px;}
.news-events .well { background:inherit; border:none; border-radius:0px; padding:0px; box-shadow:none; margin-bottom: 35px;}
.news-events h4 { font-size:17px; font-weight:700; }
.news-events span { color:#797b7a; font-size:11px;}
.news-events p { font-size:13px; font-weight:400; text-align: justify;}
.view-all {background:#149f4f; color:#fff; padding:10px; float:right; margin-top:15px;}
.ads-1 h5 { font-size:11px;}
footer { background:#000000;}

.fmenu-top {
    border-bottom: 1px solid #3b3a3a;
    padding: 40px 0 10px;
    margin: 0 0 30px;
}

.fmenu-col {
    width: 19%;
    float: left;
    margin-right: 1%;
}
.fmenu-sec {
    padding: 0 0 20px;
}
.fmenu-head {
    color: #ff0000;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 0 15px;
}
.fmenu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.fmenu-list li {
    list-style: none;
    font-size: 13px;
    line-height: 14px;
    padding: 0 0 2px;
    margin: 0 0 5px;
}
.fmenu-list li a {
    color: #737978;
    display: block;
}
.martop31 {
    margin-top: 31px;
}
.fmenu-list li a:hover {
    color: white !important;
    text-decoration: none;
}
.fmenu-btm-list {
    list-style: none;
    padding: 0;
    margin: 0;
	float:right;
}
.fmenu-btm-list li {
    float: left;
    font-size: 14px;
    line-height: 14px;
    margin: 0 20px 15px 0;
}
.fmenu-btm-list a { color:#9b9b9b; font-size:13px; text-transform:uppercase; font-weight:400;}
.fmenu-btm-list a:hover { text-decoration:none;}
.btm-cnt { padding-top:15px; }
.btm-cnt p {color:#9b9b9b; text-align:justify; font-size:12px;  }
.foo-sponsar h6 { color:#ff0000; font-size:13px; text-transform:uppercase; font-weight:400;}
.foo-sponsar { padding-top:45px;}
.foot-copy { background:#1a1818; padding:20px 0px; margin-top: 30px;}
.foot-copy .copy-right-txt { color:#808b8a; font-size:12px; font-weight:400; margin:0px; padding-top: 10px;}
.social-icon li {
    list-style: none;
float: left;
color: #fff;
font-size: 10px;
background: #555;
padding: 7px;
margin-right: 5px;
width: 35px;
text-align: center;
}

.content-box { background:#f5f3f3;}
.bg-box { background:#fff;}
.bread-crumb { background:#f7f7f7; border-bottom:solid 1px #e8e1e1;}
.breadcrumb { margin-bottom:0px; background-color:inherit; padding: 11px 0px;}
.breadcrumb a, .breadcrumb li { font-size:11px; text-transform:uppercase; color:#555555;}
.breadcrumb > .active { font-size:12px; font-weight:400; }
.breadcrumb > li + li::before {
    padding: 0 5px;
    color: #555555;
    content: ">\00a0";
    font-size: 15px;
}
.main-head { color:#555555; text-transform:uppercase; font-size:22px; margin-bottom:20px;}
.bg-box { padding:30px; margin-bottom:50px;}
.bg-box li { list-style:none; padding-bottom:10px;}
.bg-box ul { padding:0px;}
.bg-box li a {color:#323131; font-size:13px; font-weight:400; }


.refine {
    box-shadow: 0px 0px 3px #bfbfbf;
    background: #fff;
    padding-bottom: 24px;
    margin-bottom: 20px;
}



    	.behclick-panel  .list-group {
    		margin-bottom: 0px;
		}
		.behclick-panel .list-group-item:first-child {
			border-top-left-radius:0px;
			border-top-right-radius:0px;
		}
		.behclick-panel .list-group-item {
			border-right:0px;
			border-left:0px;
		}
		.behclick-panel .list-group-item:last-child{
			border-bottom-right-radius:0px;
			border-bottom-left-radius:0px;
		}
		.behclick-panel .list-group-item {
			padding: 5px;
		}
		.behclick-panel .panel-heading {
			/* 				padding: 10px 15px;
                            border-bottom: 1px solid transparent; */
			border-top-right-radius: 0px;
			border-top-left-radius: 0px;
			border-bottom: 1px solid darkslategrey;
		}
		.behclick-panel .panel-heading:last-child{
			/* border-bottom: 0px; */
		}
		.behclick-panel {
			border-radius: 0px;
			border-right: 0px;
			border-left: 0px;
			border-bottom: 0px;
			box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
		}
		.behclick-panel .radio, .checkbox {
			margin: 0px;
			padding-left: 10px;
		}
		.behclick-panel .panel-title > a, .panel-title > small, .panel-title > .small, .panel-title > small > a, .panel-title > .small > a {
			outline: none;
		}
		.behclick-panel .panel-body > .panel-heading{
			padding:10px 10px;
		}
		.behclick-panel .panel-body {
			padding: 0px;
		}
		 /* unvisited link */
		.behclick-panel a:link {
		    text-decoration:none;
		}

		/* visited link */
		.behclick-panel a:visited {
		    text-decoration:none;
		}

		/* mouse over link */
		.behclick-panel a:hover {
		    text-decoration:none;
		}

		/* selected link */
		.behclick-panel a:active {
		    text-decoration:none;
		}
.search-panel .panel-heading, .search-panel .list-group-item { border:none;}
.search-panel .behclick-panel {border:solid 1px #d5d8d7; padding: 10px 5px; }
.search-panel .radio label, .search-panel .checkbox label { font-size:13px; color:#686868; font-weight:400;}
.search-panel .panel-title { text-transform:capitalize; font-size:13px; font-weight:400;}

.company-logo {text-align:center; padding-top:10px;}
.company-logo img { display: inline; }
.list-detail h4,.list-detail h4 a { font-size:15px; text-transform:uppercase; color:#686868; font-weight:400; margin-bottom:0px; text-decoration: none;}
.company-list { font-size:13px; color:#686868; margin-bottom:0px;} 
.mr-b3, .jb-loc { font-size:13px; color:#686868; font-weight:400;}
.jb-loc { font-weight:700;}
.skil-list { font-size:13px; color:#686868; font-weight:700; margin-bottom:10px;}
.mr-b15 {
    margin-bottom: 15px;
}
.jb-skill {
    font-weight: 600;
    margin-right: 6px;
    font-size: 12px;
    padding: 5px 12px;
    border: 1px solid #d5d8d7;
    border-radius: 15px;
    text-transform: capitalize;
    margin-bottom: 5px;
	font-size:13px;
	color:#686868;
	font-weight:400;
}
.mr-tb10 {padding-top: 11px !important;}
.apply-button-bg { background:#f5f3f3; padding:10px 30px;}
.btn-apply   { margin-right:10px !important; margin:0px auto; border-radius:0px; border:solid 1px #149f4f;  box-shadow:none; background-color:inherit !important; text-shadow:none; text-transform:uppercase; color:#686868; font:13px; font-weight:400;}
.btn-apply:hover, .active-btn{ background:#149f4f !important; color:#fff;  }
.post-date { text-align:left; margin-left:10px; font-size:12px; font-weight:400; color:#686868; padding-top:9px;}

 .non-payment, .payment { padding:0px; }
.payment-ads  { border:solid 1px #149f4f; padding:0px;}
.payment-ads .apply-button-bg { background: #149f4f; }
.no-margin {margin:0px !important;}
.payment-ads .post-date { color:#fff;}
.payment-ads .btn-apply { border:solid 1px #0ab150; color:#fff; }
.payment-ads .btn-apply:hover { background:#ec1e27 !important; border:solid 1px #ec1e27; }
.non-payment .list-detail { padding:10px 22px;}
.pd-all8 {
    padding: 8px;
}
.bg-sky-blue {
    background-color: #38a1d0;
}
.color-white {
    color: #fff;
}
.mr-tb10 {
    margin-top: 10px;
    margin-bottom: 10px;
	padding-left: 10px;
}
 #create-alert-from-search {
    padding: 7px;
    box-shadow: none;
    margin-left: 0;
    border: 1px solid #fba331;
    border-radius: 0;
    font-size: 15px;
	background-color: #fed971;
}
.alert-section { margin-top:56px;}
.ads-right ul { list-style:none; padding:0px; margin:20px 0px; }
.ads-right ul li { margin-bottom:20px;}


.fb-profile-block {
  margin: auto;
  position: relative;
 
  margin-top: 56px;
}
 
.fb-profile-block-thumb{
  display: block;

  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.fb-profile-block-menu {
  border: 1px solid #d3d6db;
  border-radius:0px;
  background: #fff;
}
.profile-img a{
	bottom: 15px;
	box-shadow: none;
	display: block;
	left: 15px;
	padding:1px;
	position: absolute;

	width: 160px;
	background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
	z-index:9;
}
.profile-img img {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.07);
  padding: 5px;
  width:158px;
}
.profile-name {
  bottom: 60px;
  left: 205px;
  position: absolute;
}
.block-menu h2 {
  font-size: 25px;
	margin: 11px 0px;
	text-transform:uppercase;
}
.fb-profile-block-menu{
  height: 51px;
  position: relative;
  overflow:hidden;
  }
.block-menu {
  clear: right;
  padding-left: 205px;
}
.block-menu ul{
	margin:0;
	padding:0;
	}
.block-menu ul li{
	display:inline-block;
	}
.block-menu ul li a {
  border-right: 1px solid #e9eaed;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 51px;
  line-height: 4;
  padding: 0 17px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  color:#4b4f56;
  text-transform:capitalize;
}
.block-menu ul li:first-child a{
	  border-left: 1px solid #e9eaed;
	}
.paid-profile .well-sm{ background:#f5f3f3; margin-bottom:0px; }
.paid-profile .list-detail h4 { font-size:18px; }
.paid-profile .jb-skill { border-radius: 9px; background: #fff;}
.discript-details { background:#fff; padding:10px 15px;}
.discript-details h5, .abt-company h5 { font-size:14px; color:#000000; font-weight:700;}
.more-jobs .list-detail { background:#fff; padding:15px; margin-bottom:10px;min-height: 160px;}
.more-jobs, .abt-company { margin-bottom:20px;}
.more-jobs h3, .abt-company h3{ font-size:18px; text-transform:uppercase; margin-bottom:20px;}
.abt-company p{ font-size:13px; color:#686868; font-weight:400;}
.job-list .well img{margin-bottom: 20px;}
.featured-employers img{
    margin: 30px auto;
}
.lightbox{
   background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
}
.user-form p{
    text-align: center;
}
.user-form .close-lb{
    position: absolute;
    right: -16px;
    top: -16px;
}
.user-form .close-lb a{
    display: table;
    padding: 5px;
    text-align: center;
    color: #fff;
    background: #ec1e27;
    border-radius: 100px;
    text-decoration: none;
    width: 32px;
    height: 32px;
    
}
.user-form .form-carry{
    margin: 100px auto;
    background: white;
    position: relative;
    width: 40%;
    min-width: 350px;
    padding: 40px 25px;
    border: 1px solid #ccc;
}
.user-form .form-carry .form-control{
    box-shadow: none;
    border-radius: 0px;
}
.user-form .form-carry label{
    font-weight: normal;
}
.user-form .form-carry .required{
    color:#f44336;
}
.user-form button{
    
    color: #fff;
    background-color: #149F4F;
    border: 1px solid #149f4f;
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
    text-shadow: none;
    text-transform: uppercase;
}
.user-form button:hover{
    border: 1px solid #ec1e27;
    background-color: #ec1e27;
}
.notify-error, .input-err,.error p{
    margin: 7px 0;
    color: #d84315;
}
.notify-error{
    text-align: center;
}
.profile-pic{
    position: relative;
    display: table;
}
.profile-pic .change{
    display: none;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    
}
.profile-pic .change a{
    color: #ccc;
    text-decoration: none;
    
}
.profile-pic:hover .change{
    display: block
}
.personal-info{
    margin: 10px 0 5px;
}
.profile td{
    padding:5px;
}
.userskill,.user_skill{padding:5px 10px;border: 1px solid #dedede;margin-right: 5px;border-radius: 3px;}
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}